[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-juoppoko
Exec=harbour-juoppoko
Name=Juoppoko
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[en]=Drunkard?
Name[fi]=Juoppoko
[X-Sailjail]
Permissions=Internet;Location
OrganizationName=null.hsjpekka
ApplicationName=harbour-juoppoko
